<div class="teste">
<section class="header-site">
    <!--<div class="teste">-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-intro text-center">
                    
                    <div>
                        <img src="assets/logo.png" class = "text-center logo-header">
                    </div>
                    <h1 class="text-center intro transition">StarApp</h1>
                    <h4 class="text-center intro transition">Conectando Investidores a Startups</h4>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
</section>
</div>

<section class="content-site">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Startup</h1>
                <p class="text-center">Cadastre sua Startup no app e compartilhe com o mundo sua
                    ideia
                </p><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                <div class="thumbnail">
                    <img src="assets/print01.jpg" class="img">
                    <div class="caption text-center card-text">
                        <h3>Look the picture</h3>
                        <p>jadfjadjfhba asdhfjadf ajksdfhjka asdfh aksjdfhkajhf asdjfhakjdfhuieh</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="thumbnail">
                        <img src="assets/print02.jpg" class="img">
                        <div class="caption text-center">
                            <h3>Look the picture 2</h3>
                            <p>jadfjadjfhba asdhfjadf ajksdfhjka asdfh aksjdfhkajhf asdjfhakjdfhuieh</p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="assets/print03.jpg" class="img">
                            <div class="caption text-center">
                                <h3><strong>Look the picture 3</strong></h3>
                                <p>jadfjadjfhba asdhfjadf ajksdfhjka asdfh aksjdfhkajhf asdjfhakjdfhuieh</p>
                            
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
</section>

<section class="img-site">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center transition">Empreender, sobretudo, significa andar pelos próprios pés e 
                    rumo a um caminho desconhecido! Venha fazer parte desta revolução</h2>
                <!--<p class="text-center">kjsngfksjnfgkjsnjkgnsdkjfgnksjnfgksngkjnskgnskjngksjng
                kfgnkdjgnklsnglfjnksfngsngfkjsfgnk s jskj sn ksjfgkjsn sdkjgn skjn sjgn                             ksgksgjndsgjnsgnslfngkjsngkns slkdjfgn sjn s sgn s nslkdjfngkjsn sj ns.
                </p>-->
            </div>
        </div>
    </div>
</section>

<section class="footer-site">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Contato: 53135136816313</h3>
            </div>
        </div>
    </div>
</section>