<section class="header-site" [@fadeInOut]>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-intro text-center" >
                    <div>
                        <img src="assets/logo.png" class = "text-center logo-header">
                    </div>
                    <h1 class="text-center intro transition">StartApp</h1>
                    <h4 class="text-center intro transition">Conectando Investidores a Startups</h4>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content-site">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Startup</h1>
                <p class="text-center">Cadastre sua Startup no app e compartilhe com o mundo sua
                    ideia
                </p><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                <div class="thumbnail">
                    <img src="assets/print03.jpg" class="img">
                    <div class="caption text-center card-text">
                        <h3>Feed de Noticias</h3>
                        <p>Acompanhe novidades sobre as Startup em seu feed totalmente interativo</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="thumbnail">
                        <img src="assets/print01.jpg" class="img">
                        <div class="caption text-center">
                            <h3>Edite seu Perfil</h3>
                            <p>Publique seu projeto, apresente o progresso de sua startup, e muito mais</p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="assets/print02.jpg" class="img">
                            <div class="caption text-center">
                                <h3>Contato</h3>
                                <p>Disponibilize todos os meios de contato para ser mais acessível</p>
                            
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
</section>

<section class="img-site img-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center transition">Empreender, sobretudo, significa andar pelos próprios pés e 
                    rumo a um caminho desconhecido! Venha fazer parte desta revolução</h2>
            </div>
        </div>
    </div>
</section>

<section class="content-site">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">Investidor</h1>
                    <p class="text-center">Agora voce Investidor não precisa mais sair da cadeira para encontrar todas as
                        startups disponiveis no mercado 
                    </p><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                    <div class="thumbnail">
                        <img src="assets/print03.jpg" class="img">
                        <div class="caption text-center card-text">
                            <h3>Feed de Noticias</h3>
                            <p>Acompanhe novidades sobre as Startup em seu feed totalmente interativo</p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="assets/chat02.jpg" class="img">
                            <div class="caption text-center">
                                <h3>Chat</h3>
                                <p>Comunique-se a startup que tem interesse diretamente pelo App</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="thumbnail">
                                <img src="assets/print01.jpg" class="img">
                                <div class="caption text-center">
                                    <h3><strong>Contato</strong></h3>
                                    <p>Disponibilize todos os meios de contato para ser mais acessível</p>
                                
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
    </section>

    <section class="img-transition02">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="text-center transition">O segredo para investir é descobrir o valor de alguma coisa,
                            e então pagar muito menos por ela - Joel Greenblatt
                        </h2>
                    </div>
                </div>
            </div>
        </section>

<section class="footer-site">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                    <img src="assets/logo.png" class = "text-left logo-header">
                    <button type="button" class="btn btn-danger btnDownload"><h4>Download</h4></button>
                
                    <div class="text-center contact">
                        <h4>Contato</h4>
                    </div>
                     <div class="contact-us">
                         <img id="teste" src="assets/facebook.png" title="Facebook" data-toggle="tooltip" data-placement="top">
                         <img id="teste" src="assets/linkedin.png" title="Linkedin">
                         <img id="teste" src="assets/github-logo.png" title="Github">
                         <img id="teste" src="assets/gmail.png" title="Gmail">
                        
                    </div>
            </div>
        </div>
    </div>
</section>